[submodule "parallel-programming-course/distributed-key-value-storage"]
	path = parallel-programming-course/distributed-key-value-storage
	url = https://github.com/vadimsemenov/distributed-key-value-storage.git
